/*general*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(37, 37, 37);
  font-size: 1rem;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

button:hover,
a:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  object-fit: contain;
}

@mixin flex {
  display: flex;
  align-items: center;
}

article,
nav,
.logo-box,
footer {
  @include flex;
}

/*navigation*/

nav {
  justify-content: space-between;
  max-height: 80px;
  padding: 10px 2%;
  margin-bottom: 3%;
}

.hiring-btn {
  margin-left: 20px;
  background: linear-gradient(90deg, rgb(255, 230, 0), rgb(255, 30, 0));
  border: none;
  padding: 6px 12px;
  color: white;
  font-weight: 600;
  border-radius: 12px;
  font-size: 0.8rem;
}

.submenu-box {
  @include flex;

  a {
    margin: 0 20px;
    font-size: 1.1rem;
  }
}

.ham-menu {
  width: 38px;
  height: 26px;
  @include flex;
  flex-direction: column;
  justify-content: space-evenly;

  &:hover {
    cursor: pointer;
  }

  .bar {
    width: 100%;
    background-color: #1b1b1b;
    height: 3px;
  }
}

.submenu {
  display: none;
}

.login-box {
  display: none;
}

.signin-btn,
.join-btn {
  padding: 20px;
  border-radius: 6px;
}

.signin-btn:hover,
.join-btn:hover {
  background-color: rgb(63, 162, 243);
  color: #fff;
}

/*main*/

article {
  flex-wrap: wrap-reverse;
  width: 100vw;
  padding: 0 1%;
}

.text-box {
  display: flex;
  flex-direction: column;
  padding: 1% 3%;

  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  p {
    margin: 1rem 0;
    line-height: 1.3rem;
  }
}
.input-box {
  height: 3rem;

  input {
    padding-left: 12px;
    height: 100%;
    width: 100%;
  }

  button {
    height: 100%;
    width: 100%;
    background-color: rgb(63, 162, 243);
    color: #fff;

    &:hover {
      cursor: pointer;
    }
  }
}

.check {
  margin-top: 60px;
}

.image-box {
  position: relative;
  display: grid;
  place-items: center;

  .model {
    width: auto;
  }
  .purple {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(15px) rotate(-15deg);
    z-index: -1;
  }

  .pink {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(25px) rotate(-25deg);
    z-index: -2;
  }

  .blue {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(25px) rotate(-35deg);
    z-index: -3;
  }
}

/*footer*/

footer {
  flex-direction: column;
  align-items: flex-start;

  .social-links {
    margin: 20px 20px 20px 0;
    a {
      padding: 0 12px;
    }
  }

  .chat {
    @include flex;
    padding: 0 20px;
  }

  .chat-dialog-box {
    margin: 20px;
  }
}

/*media query*/

@media (min-width: 768px) {
  article {
    flex-wrap: nowrap;
  }

  .text-box h1 {
    font-size: calc(2.5rem + 0.4rem);
    line-height: calc(3rem + 0.5rem);
  }

  .input-box {
    width: 100%;
    @include flex;
  }

  .image-box {
    margin-left: 5%;
  }

  footer {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  article {
    flex-wrap: nowrap;
  }

  .ham-menu {
    display: none;
  }

  .submenu {
    display: flex;
  }

  .login-box {
    display: flex;
  }

  /* .text-box,
  .image-box {
    flex: 1;
  }*/

  .image-box {
    img {
      width: 100%;
    }
  }

  .text-box h1 {
    font-size: calc(2.5rem + 0.5rem);
    line-height: calc(3rem + 0.6rem);
  }

  .input-box {
    max-width: 100%;

    button {
      width: 35%;
      margin-left: 10px;
    }
  }

  /* .model {
    //left: 50%;
    transform: translateX(-17%);
  }*/

  footer {
    justify-content: space-between;
    flex-direction: row;
  }
}
